---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');

const itemClass = ['project-item p-4 h-[250px] bg-center bg-cover'];
const titleClass = ['project-title uppercase font-medium text-3xl text-gray-700'];
---
<div class="p-4 sm:p-12">
    <h3 class="text-white font-medium uppercase">Projects</h3>
    <div class="grid sm:grid-cols-3 gap-4">
        {projects.map(project => (
            <div class:list={itemClass} style={`background-image: url(${project.data.image}) `}>
                <a href={`/projects/${project.id}/`} class:list={titleClass}>
                    <div>{project.data.title}</div>
                </a>
            </div>
          ))}
    </div>
</div>